.bnb-color-0 { background-color: white; color: #ccc; }
.bnb-color-1 { background-color: #7f00ff; color: #e5e5e5; }
.bnb-color-2 { background-color: #7b06fe; color: #e5e5e5; }
.bnb-color-3 { background-color: #750ffe; color: #e5e5e5; }
.bnb-color-4 { background-color: #7115fe; color: #e5e5e5; }
.bnb-color-5 { background-color: #6b1ffe; color: #e5e5e5; }
.bnb-color-6 { background-color: #6725fe; color: #e5e5e5; }
.bnb-color-7 { background-color: #612efd; color: #e5e5e5; }
.bnb-color-8 { background-color: #5b38fd; color: #e5e5e5; }
.bnb-color-9 { background-color: #573efd; color: #e5e5e5; }
.bnb-color-10 { background-color: #5147fc; color: #e5e5e5; }
.bnb-color-11 { background-color: #4d4dfb; color: #e5e5e5; }
.bnb-color-12 { background-color: #4756fb; color: #e5e5e5; }
.bnb-color-13 { background-color: #415ffa; color: #e5e5e5; }
.bnb-color-14 { background-color: #3d64f9; color: #e5e5e5; }
.bnb-color-15 { background-color: #376df8; color: #e5e5e5; }
.bnb-color-16 { background-color: #3373f8; color: #e5e5e5; }
.bnb-color-17 { background-color: #2d7bf6; color: #e5e5e5; }
.bnb-color-18 { background-color: #2980f6; color: #e5e5e5; }
.bnb-color-19 { background-color: #2388f4; color: #e5e5e5; }
.bnb-color-20 { background-color: #1d90f3; color: #e5e5e5; }
.bnb-color-21 { background-color: #1995f2; color: #e5e5e5; }
.bnb-color-22 { background-color: #139df1; color: #e5e5e5; }
.bnb-color-23 { background-color: #0fa2ef; color: #e5e5e5; }
.bnb-color-24 { background-color: #09a9ee; color: #e5e5e5; }
.bnb-color-25 { background-color: #03b0ec; color: #e5e5e5; }
.bnb-color-26 { background-color: #00b4eb; color: #e5e5e5; }
.bnb-color-27 { background-color: #06bbe9; color: #e5e5e5; }
.bnb-color-28 { background-color: #0abfe8; color: #e5e5e5; }
.bnb-color-29 { background-color: #10c5e6; color: #666666; }
.bnb-color-30 { background-color: #14c9e4; color: #666666; }
.bnb-color-31 { background-color: #1acfe2; color: #666666; }
.bnb-color-32 { background-color: #20d4e0; color: #666666; }
.bnb-color-33 { background-color: #24d7df; color: #666666; }
.bnb-color-34 { background-color: #2adcdc; color: #666666; }
.bnb-color-35 { background-color: #2edfdb; color: #333333; }
.bnb-color-36 { background-color: #34e4d8; color: #333333; }
.bnb-color-37 { background-color: #3ae8d6; color: #333333; }
.bnb-color-38 { background-color: #3eead4; color: #333333; }
.bnb-color-39 { background-color: #44eed1; color: #333333; }
.bnb-color-40 { background-color: #48f0d0; color: #333333; }
.bnb-color-41 { background-color: #4ef3cd; color: #191919; }
.bnb-color-42 { background-color: #54f6ca; color: #191919; }
.bnb-color-43 { background-color: #58f7c8; color: #191919; }
.bnb-color-44 { background-color: #5ef9c5; color: #191919; }
.bnb-color-45 { background-color: #62fac3; color: #191919; }
.bnb-color-46 { background-color: #68fcc0; color: #191919; }
.bnb-color-47 { background-color: #6cfdbe; color: #191919; }
.bnb-color-48 { background-color: #72febb; color: #191919; }
.bnb-color-49 { background-color: #78feb8; color: #000000; }
.bnb-color-50 { background-color: #7cfeb5; color: #000000; }
.bnb-color-51 { background-color: #82feb2; color: #000000; }
.bnb-color-52 { background-color: #86feb0; color: #000000; }
.bnb-color-53 { background-color: #8cfeac; color: #000000; }
.bnb-color-54 { background-color: #92fda9; color: #000000; }
.bnb-color-55 { background-color: #96fca7; color: #000000; }
.bnb-color-56 { background-color: #9cfaa3; color: #000000; }
.bnb-color-57 { background-color: #a0f9a1; color: #000000; }
.bnb-color-58 { background-color: #a6f79d; color: #000000; }
.bnb-color-59 { background-color: #aaf69a; color: #000000; }
.bnb-color-60 { background-color: #b0f397; color: #000000; }
.bnb-color-61 { background-color: #b6f093; color: #000000; }
.bnb-color-62 { background-color: #baee90; color: #000000; }
.bnb-color-63 { background-color: #c0ea8c; color: #000000; }
.bnb-color-64 { background-color: #c4e88a; color: #000000; }
.bnb-color-65 { background-color: #cae486; color: #000000; }
.bnb-color-66 { background-color: #d0df82; color: #000000; }
.bnb-color-67 { background-color: #d4dc7f; color: #000000; }
.bnb-color-68 { background-color: #dad77b; color: #000000; }
.bnb-color-69 { background-color: #ded478; color: #000000; }
.bnb-color-70 { background-color: #e4cf74; color: #000000; }
.bnb-color-71 { background-color: #eac970; color: #000000; }
.bnb-color-72 { background-color: #eec56d; color: #000000; }
.bnb-color-73 { background-color: #f4bf69; color: #000000; }
.bnb-color-74 { background-color: #f8bb66; color: #000000; }
.bnb-color-75 { background-color: #feb461; color: #000000; }
.bnb-color-76 { background-color: #ffb05f; color: #000000; }
.bnb-color-77 { background-color: #ffa95a; color: #000000; }
.bnb-color-78 { background-color: #ffa256; color: #000000; }
.bnb-color-79 { background-color: #ff9d53; color: #000000; }
.bnb-color-80 { background-color: #ff954e; color: #000000; }
.bnb-color-81 { background-color: #ff904b; color: #000000; }
.bnb-color-82 { background-color: #ff8847; color: #000000; }
.bnb-color-83 { background-color: #ff8042; color: #191919; }
.bnb-color-84 { background-color: #ff7b3f; color: #191919; }
.bnb-color-85 { background-color: #ff733b; color: #191919; }
.bnb-color-86 { background-color: #ff6d38; color: #191919; }
.bnb-color-87 { background-color: #ff6433; color: #191919; }
.bnb-color-88 { background-color: #ff5f30; color: #191919; }
.bnb-color-89 { background-color: #ff562b; color: #333333; }
.bnb-color-90 { background-color: #ff4d27; color: #333333; }
.bnb-color-91 { background-color: #ff4724; color: #333333; }
.bnb-color-92 { background-color: #ff3e1f; color: #333333; }
.bnb-color-93 { background-color: #ff381c; color: #333333; }
.bnb-color-94 { background-color: #ff2e17; color: #333333; }
.bnb-color-95 { background-color: #ff2512; color: #666666; }
.bnb-color-96 { background-color: #ff1f0f; color: #666666; }
.bnb-color-97 { background-color: #ff150a; color: #666666; }
.bnb-color-98 { background-color: #ff0f07; color: #666666; }
.bnb-color-99 { background-color: #ff0603; color: #666666; }
.bnb-color-100 { background-color: #ff0000; color: #666666; }
