.bnb-color-0 { background-color: #fafafa; color: #bbb; }
.bnb-color-1 { background-color: #00007f; color: #ffffff; }
.bnb-color-2 { background-color: #000088; color: #ffffff; }
.bnb-color-3 { background-color: #000096; color: #ffffff; }
.bnb-color-4 { background-color: #00009f; color: #ffffff; }
.bnb-color-5 { background-color: #0000ac; color: #ffffff; }
.bnb-color-6 { background-color: #0000b6; color: #ffffff; }
.bnb-color-7 { background-color: #0000c3; color: #ffffff; }
.bnb-color-8 { background-color: #0000d1; color: #ffffff; }
.bnb-color-9 { background-color: #0000da; color: #ffffff; }
.bnb-color-10 { background-color: #0000e8; color: #ffffff; }
.bnb-color-11 { background-color: #0000f1; color: #ffffff; }
.bnb-color-12 { background-color: #0000fe; color: #ffffff; }
.bnb-color-13 { background-color: #0000ff; color: #ffffff; }
.bnb-color-14 { background-color: #0004ff; color: #ffffff; }
.bnb-color-15 { background-color: #0010ff; color: #ffffff; }
.bnb-color-16 { background-color: #0018ff; color: #ffffff; }
.bnb-color-17 { background-color: #0024ff; color: #ffffff; }
.bnb-color-18 { background-color: #002cff; color: #ffffff; }
.bnb-color-19 { background-color: #0038ff; color: #ffffff; }
.bnb-color-20 { background-color: #0044ff; color: #ffffff; }
.bnb-color-21 { background-color: #004cff; color: #ffffff; }
.bnb-color-22 { background-color: #0058ff; color: #f2f2f2; }
.bnb-color-23 { background-color: #0060ff; color: #f2f2f2; }
.bnb-color-24 { background-color: #006cff; color: #f2f2f2; }
.bnb-color-25 { background-color: #0078ff; color: #f2f2f2; }
.bnb-color-26 { background-color: #0080ff; color: #f2f2f2; }
.bnb-color-27 { background-color: #008cff; color: #f2f2f2; }
.bnb-color-28 { background-color: #0094ff; color: #e5e5e5; }
.bnb-color-29 { background-color: #00a0ff; color: #e5e5e5; }
.bnb-color-30 { background-color: #00a8ff; color: #e5e5e5; }
.bnb-color-31 { background-color: #00b4ff; color: #e5e5e5; }
.bnb-color-32 { background-color: #00c0ff; color: #e5e5e5; }
.bnb-color-33 { background-color: #00c8ff; color: #e5e5e5; }
.bnb-color-34 { background-color: #00d4ff; color: #666666; }
.bnb-color-35 { background-color: #00dcfe; color: #666666; }
.bnb-color-36 { background-color: #02e8f4; color: #666666; }
.bnb-color-37 { background-color: #0cf4ea; color: #666666; }
.bnb-color-38 { background-color: #12fce4; color: #666666; }
.bnb-color-39 { background-color: #1cffda; color: #333333; }
.bnb-color-40 { background-color: #22ffd4; color: #333333; }
.bnb-color-41 { background-color: #2cffca; color: #333333; }
.bnb-color-42 { background-color: #36ffc0; color: #333333; }
.bnb-color-43 { background-color: #3cffba; color: #333333; }
.bnb-color-44 { background-color: #46ffb0; color: #333333; }
.bnb-color-45 { background-color: #4cffaa; color: #333333; }
.bnb-color-46 { background-color: #56ffa0; color: #333333; }
.bnb-color-47 { background-color: #5cff9a; color: #191919; }
.bnb-color-48 { background-color: #66ff90; color: #191919; }
.bnb-color-49 { background-color: #70ff86; color: #191919; }
.bnb-color-50 { background-color: #76ff80; color: #191919; }
.bnb-color-51 { background-color: #80ff76; color: #191919; }
.bnb-color-52 { background-color: #86ff70; color: #191919; }
.bnb-color-53 { background-color: #90ff66; color: #191919; }
.bnb-color-54 { background-color: #9aff5c; color: #191919; }
.bnb-color-55 { background-color: #a0ff56; color: #191919; }
.bnb-color-56 { background-color: #aaff4c; color: #000000; }
.bnb-color-57 { background-color: #b0ff46; color: #000000; }
.bnb-color-58 { background-color: #baff3c; color: #000000; }
.bnb-color-59 { background-color: #c0ff36; color: #000000; }
.bnb-color-60 { background-color: #caff2c; color: #000000; }
.bnb-color-61 { background-color: #d4ff22; color: #000000; }
.bnb-color-62 { background-color: #daff1c; color: #000000; }
.bnb-color-63 { background-color: #e4ff12; color: #000000; }
.bnb-color-64 { background-color: #eaff0c; color: #000000; }
.bnb-color-65 { background-color: #f4f802; color: #000000; }
.bnb-color-66 { background-color: #feed00; color: #000000; }
.bnb-color-67 { background-color: #ffe500; color: #000000; }
.bnb-color-68 { background-color: #ffda00; color: #000000; }
.bnb-color-69 { background-color: #ffd300; color: #000000; }
.bnb-color-70 { background-color: #ffc800; color: #000000; }
.bnb-color-71 { background-color: #ffbd00; color: #000000; }
.bnb-color-72 { background-color: #ffb500; color: #000000; }
.bnb-color-73 { background-color: #ffaa00; color: #191919; }
.bnb-color-74 { background-color: #ffa300; color: #191919; }
.bnb-color-75 { background-color: #ff9800; color: #191919; }
.bnb-color-76 { background-color: #ff9000; color: #191919; }
.bnb-color-77 { background-color: #ff8500; color: #191919; }
.bnb-color-78 { background-color: #ff7a00; color: #191919; }
.bnb-color-79 { background-color: #ff7300; color: #333333; }
.bnb-color-80 { background-color: #ff6700; color: #333333; }
.bnb-color-81 { background-color: #ff6000; color: #333333; }
.bnb-color-82 { background-color: #ff5500; color: #333333; }
.bnb-color-83 { background-color: #ff4a00; color: #333333; }
.bnb-color-84 { background-color: #ff4200; color: #333333; }
.bnb-color-85 { background-color: #ff3700; color: #666666; }
.bnb-color-86 { background-color: #ff3000; color: #666666; }
.bnb-color-87 { background-color: #ff2500; color: #666666; }
.bnb-color-88 { background-color: #ff1d00; color: #666666; }
.bnb-color-89 { background-color: #fe1200; color: #666666; }
.bnb-color-90 { background-color: #f10700; color: #e5e5e5; }
.bnb-color-91 { background-color: #e80000; color: #e5e5e5; }
.bnb-color-92 { background-color: #da0000; color: #e5e5e5; }
.bnb-color-93 { background-color: #d10000; color: #f2f2f2; }
.bnb-color-94 { background-color: #c30000; color: #f2f2f2; }
.bnb-color-95 { background-color: #b60000; color: #f2f2f2; }
.bnb-color-96 { background-color: #ac0000; color: #ffffff; }
.bnb-color-97 { background-color: #9f0000; color: #ffffff; }
.bnb-color-98 { background-color: #960000; color: #ffffff; }
.bnb-color-99 { background-color: #880000; color: #ffffff; }
.bnb-color-100 { background-color: #7f0000; color: #ffffff; }
